body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls {
    position: fixed;
    top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 5px;
}

.background {
    fill: none;
    stroke-opacity: 0.1;
}

.blades {
    stroke-dasharray: 10,5;
}

.spoons {
    stroke-dasharray: 5,5;
}

.line.highlighted {
    fill: none;
    stroke-width: 6px;
}

.line.hover {
    fill: none;
    stroke-width: 6px;
}

.year {
    font-size: 22px;
}

.label {
    font-size: 16px;
}

.label.highlighted {
    font-weight: bold;
}

.position-label-left {
    font-size: 16px;
}

.position-label-right {
    font-size: 16px;
}

.share {
    display: flex;
    align-items: center;
}

.facebook-share-button {
    display: inline-block;
    padding-right: 4px;
    cursor: pointer;
}

.twitter-share-button {
    display: inline-block;
    padding-left: 4px;
    cursor: pointer;
}
